<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkwp.search.dao.UserDao" >

  <select id="getUserByUsername" parameterType="java.lang.String" resultType="com.zkwp.search.bean.User">
      select * from sys_user where username = #{username}
  </select>

  <select id="findPermissionsByUserId" parameterType="java.lang.String" resultType="com.zkwp.search.bean.Permission">
      select *
      from sys_permission
      where  id in (
        select permission_id
        from sys_role_permission
        where role_id in (
            select role_id
            from sys_user_role
            where user_id = #{userId}
        )
      )
  </select>

</mapper>